<div class="d-flex">
  <div class="container mt-3 mb-4">
    <div class="row">
      <!--user info/form-->
      <div class="col-md-3">
        <%= render 'user', user: @book_show.user, book: @book %>
      </div>

      <!--book詳細-->
      <div class="col-md-8 offset-md-1">
        <h3>Book detail</h3>
        <table class="table">
          <tr>
            <td>
              <%= link_to user_path(@book_show.user_id) do %>
                <%= image_tag @book_show.user.get_profile_image(100,100) %><br>
                <%= @book_show.user.name %>
              <% end %>
            </td>
            <td>
              <%= link_to @book_show.title, book_path(@book_show.id) %>
            </td>
            <td>
              <%= @book_show.body %>
            </td>
            <% if @book_show.user == current_user %>
              <td>
                <%= link_to "Edit", edit_book_path(@book_show.id), class: "btn btn-sm btn-success" %>
              </td>
              <td>
                <%= link_to "Destroy", book_path(@book_show.id), method: :delete, "data-confirm" => "本当に消しますか？", class: "btn btn-sm btn-danger" %>
              </td>
            <% end %>
          </tr>
        </table>
      </div>

    </div>
  </div>
</div>