<h1>Books#show</h1>
<!--user info/form-->
<div>
  <%= render 'user', user: @user, book: @book %>
</div>

<!--book詳細-->
<div>
  <h1>Book detail</h2>
  <table>
    <tr>
      <td>
        <%= image_tag @book_show.user.get_profile_image(100,100) %>
      </td>
      <td>
        <%= @book_show.title %>
      </td>
      <td>
        <%= @book_show.body %>
      </td>
      <td>
        <%= link_to "Edit", edit_book_path(@book_show.id) %>
      </td>
      <td>
        <%= link_to "Dstroy", book_path(@book_show.id), method: :delete, "data-confirm" => "本当に消しますか？" %>
      </td>
    </tr>
  </table>
  <%= @book_show.user.name %>
</div>